[submodule "npq-hugo"]
	path = npq-hugo
	url = https://github.com/saadnpq/npq-hugo.git
[submodule "themes/npq-hugo"]
	path = themes/npq-hugo
	url = https://github.com/saadnpq/npq-hugo.git
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "static/admin"]
	path = static/admin
	url = https://github.com/woliveiras/netlify-cms-base.git
[submodule "themes/hyde-hyde"]
	path = themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
